@{
    ViewBag.Title = "UploadRota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadRota</h2>

<br />
<div class="card">
    @using (Html.BeginForm("UploadRota", "Rota", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label> Select files:</label>
        <input type="file" name="files" multiple="multiple" />
        <input type="submit" value="Upload" />

        <span style="color:red">@Html.Raw(ViewBag.SuccessMessage)</span>
    }
</div>




